<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	 <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <title th:text="#{registration.success}"></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body style="margin: 0; padding: 0px 0px 20px 0px;" bgcolor="#f9f9f9">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
			
			<tr>
				<td bgcolor="#ffffff" style="padding: 20px 30px 10px 30px;">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td style="font-size:40px;text-align:right;font-weight:bold;color: #24b782;padding: 0px 20px 0px 0px;font-family: 'Simplified Arabic', 'Tahoma', 'Times New Roman', 'Arial', 'serif';">
								<span th:text="#{congratulations}"></span>
							</td>
							<td style="text-align:center;width:60px;padding: 0px 50px 0px 0px;">
								<img th:src="@{${acceptedImageUrl}}" alt="success" width="60" height="60" style="display: block;" />
							</td>
						</tr>
						<tr>
							<td colspan="2" style="padding: 20px 0 30px 0;text-align:center;font-size:25px;font-family: 'Simplified Arabic', 'Tahoma', 'Times New Roman', 'Arial', 'serif';">
								<span th:text="#{registration.success.detail1}"></span>
							    <a style="color: white;padding-right:50px;padding-left:50px;background-color:#0097d6;font-size: 20px;text-decoration: none;text-transform: uppercase;font-family: 'Simplified Arabic', 'Tahoma', 'Times New Roman', 'Arial', 'serif';" th:href="@{${appUrl}}">
									<span th:text="#{clickHere}"></span>
								</a>
							</td>
						</tr>
						
					</table>
				</td>
			</tr>
		</table>
	</body>


</html>