<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	 <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <title th:text="#{resetPassword}"></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body style="margin: 0; padding: 0px 0px 20px 0px;" bgcolor="#f9f9f9">
		<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
			<tr>
				<td align="center" style="padding: 20px 0 30px 0;">
					<img th:src="@{${imageUrl}}" alt="Dawam" width="200" height="67" style="display: block;" />
				</td>
			</tr>
			<tr>
				<td bgcolor="#ffffff" style="padding: 20px 30px 10px 30px;">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td style="font-size:35px;text-align:center;font-weight:bold;font-family: 'Simplified Arabic', 'Tahoma', 'Times New Roman', 'Arial', 'serif';">
							   <span th:text="#{resetPassword}"></span>
							</td>
						</tr>
						<tr>
							<td style="padding: 20px 0 30px 0;text-align:center;font-size:20px;font-family: 'Simplified Arabic', 'Tahoma', 'Times New Roman', 'Arial', 'serif';">
								 <span th:text="#{resetPassword.mail.detail1}"></span>
							</td>
						</tr>
						<tr>
							<td style="background-color: #0097d6;border-color: #0097d6;border: 2px solid #0097d6;padding: 10px;text-align: center;">
								<a style="display: block;color: #ffffff;font-size: 20px;text-decoration: none;text-transform: uppercase;font-family: 'Simplified Arabic', 'Tahoma', 'Times New Roman', 'Arial', 'serif';" th:href="@{${url}}">
									<span th:text="#{resetPassword}"></span>
								</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td bgcolor="#ffffff" style="color:#585858;text-align:center;padding: 10px 10px 10px 10px;font-size:13px">
				   <span th:text="#{resetPassword.mail.detail2}"></span> 
				</td>
			</tr>
		</table>
	</body>


</html>